*{
    background-color: #e5e5fd;
}
.class1{
    display: flex;
    height: 225px;
}


.photo{
    width: 200px;
    height: 225px;
margin-left: 145px;    
border-radius: 50%;
}
#class2{
    display: flex;
    font-size: 50px;
    margin-left: 150px;
    margin-top: 25px;
    text-decoration: underline;
}
.class3{
    display: flex;
    margin-left: 150px;
    margin-right: 105px;
    justify-content: center;
    font-family: sans-serif;
}
.footer{
    text-align: right;
    margin-right: 95px;
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

